<footer>
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="previous newer-posts" href="{{page_url prev}}">Более новые</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
        <span class="page">Страница {{page}} из {{pages}}</span>
        {{#if next}}
        <a class="next older-posts" href="{{page_url next}}">Более старые</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
    </nav>
</footer>
